/* NavBar.css */
.navbar {
    background: #333;
    color: white;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  
  .active-link {
    font-weight: bold;
  }
  